<template>
    <div class="page" data-name="event-summary">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Resumen de evento
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
                <!--                <div class="subnavbar">-->
                <!--                    <div class="subnavbar-inner">-->
                <!--                        <div class="segmented segmented-strong">-->
                <!--                            <button class="button button-active">Asistencia</button>-->
                <!--                            <button class="button c-white" id="button-go-assistance-participant">Participantes</button>-->
                <!--                            <span class="segmented-highlight"></span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>

        <div class="page-content">
            <div class="row" id="summary-title">
                <!--            <div class="row mt-10" id="summary-title">-->

            </div>


        </div>

        <div class="popup scanner-assistance-summary">
            <div class="page">
                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="title">Asistencias</div>
                        <div class="right"><a href="#" class="link popup-close">Cerrar</a></div>
                    </div>
                </div>
                <div class="page-content">
                    <!--                        <div class="header-fixed " >-->
                    <!--                            <h3>Lista de asistentes</h3>-->
                    <!--                        </div>-->
                    <div id="assistance-container-summary" style="margin-top: 5px"></div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <!-- Footer ends-->


    </div>
</template>