<template>
    <div class="page page-login" data-name="forgotpassword">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <div class="logo-medium">
                        <img src="img/app/logo.png" alt=""/>
                    </div>
                </div>
                <div class="right">
                    <a href="/login/">Iniciar sesión</a>
                </div>
            </div>
        </div>

        <div class="page-content ">
            <div class="row h-100  justify-content-center">
                <div class="col-90 medium-50 large-40">
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 align-self-center padding-vertical">
                    <h1 class="margin-bottom"><span class="text-secondary fw-light">¿Olvido su</span><br/>Contraseña?
                    </h1>
                    <p class="text-secondary margin-bottom-half">Proporcione su dirección de correo electrónico
                        registrada para
                        cambiar la contraseña.</p>
                    <br/>
                    <form class="was-validated needs-validation" novalidate>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-valid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Correo electrónico</div>
                                        <div class="item-input-wrap"><input type="text" name="email"
                                                                            class="input-with-value"
                                                                            value=""/><span
                                                class="input-clear-button"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 text-align-center margin-top-auto padding-vertical">
                    <a href="/resetpassword/" class="button button-fill button-large button-raised color-theme">
                        Reset Password
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>