<template>
    <div class="page page-login" data-name="login">
        <div class="navbar">
            <div class="navbar-inner">

            </div>
        </div>
        <div class="page-content ">
            <div class="row h-100 justify-content-center">
                <div class="col-90 medium-50 large-40">
                </div>
                <div class="clearfix"></div>
                <div class="logo-login text-align-center" style="width: 100%">
                    <img src="img/app/logo.png" alt=""/>
                </div>
                <div class="col-90 medium-50 large-40 align-self-center padding-vertical">
                    <!--            <h1 class="margin-bottom"><span class="text-secondary fw-light">Sign in to</span><br/>your account</h1>-->
                    <h1 class="margin-bottom text-align-center"><span
                            class="text-secondary fw-medium ">Bienvenido</span></h1>
                    <br/>
                    <form class="was-validated needs-validation" novalidate id="login-form">
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <!--                  <li class="item-content item-input item-input-with-value is-valid">-->
                                <li class="item-content item-input item-input-with-value">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label login-label">Usuario</div>
                                        <div class="item-input-wrap">
                                            <input type="text" name="email" class="input-with-value login-input"
                                                   id="login-email" value=""/>
                                            <span class="input-clear-button login-clear-button"></span></div>
                                    </div>
                                </li>
                                <li id="login-email-error" class="error-message ml-10">
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <!--                  <li class="item-content item-input item-input-with-value is-invalid">-->
                                <li class="item-content item-input item-input-with-value">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label login-label">Contraseña</div>
                                        <div class="item-input-wrap">
                                            <input type="password" name="Password" class="input-with-value login-input"
                                                   id="login-password" value=""/>
                                            <span class="input-password">
                                                <i class="bi bi-eye-fill" id="toggle-password-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li id="login-password-error" class="error-message ml-10">
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                        <p class="margin-bottom text-align-right">
                            <a href="/forgotpassword/" class="c-white">
                                ¿Olvidaste tu contraseña?
                            </a>
                        </p>
                    </form>

                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 text-align-center margin-top-auto padding-vertical">
                    <!--            <button class="button button-fill button-large button-raised color-theme" type="submit">-->
                    <button class="button button-fill button-large button-raised color-theme" id="buttonLogin">
                        <span class="preloader" id="loadingLogin"></span>
                        Iniciar sesión
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>