<template>
    <div class="page " data-name="register">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <div class="logo-small">
                        <img src="img/logo.png" alt=""/>
                        <h5><span class="text-secondary fw-light">Finance</span><br/>Wallet</h5>
                    </div>
                </div>
                <div class="right">
                    <a href="/login/">Sign in</a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row h-100 justify-content-center">
                <div class="col-90 medium-50 large-40">
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 align-self-center padding-vertical">
                    <form class="was-validated needs-validation" novalidate>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-valid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Username</div>
                                        <div class="item-input-wrap"><input type="text" name="username"
                                                                            class="input-with-value"
                                                                            value="Maxartkiller"/><span
                                                class="input-clear-button"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-valid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Country</div>
                                        <div class="item-input-wrap">
                                            <select type="text" name="email" class="input-with-value"
                                                    value="Maxartkiller">
                                                <option selected="">United States (+1)</option>
                                                <option>United Kingdoms (+44)</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-valid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Email or Phone</div>
                                        <div class="item-input-wrap"><input type="text" name="email"
                                                                            class="input-with-value"
                                                                            value="information@maxartkiller.com"/><span
                                                class="input-clear-button"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-valid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Password</div>
                                        <div class="item-input-wrap"><input type="password" name="Password"
                                                                            class="input-with-value"
                                                                            value="Maxartkiller"/><span
                                                class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-invalid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Password</div>
                                        <div class="item-input-wrap"><input type="password" name="Password"
                                                                            class="input-with-value"
                                                                            value="Maxartkiller"/><span
                                                class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p class="margin-bottom"><span class="text-secondary">By clicking on Sign up button, you are agree to our </span>
                            <a href="/termsandconditions/">Terms and Conditions</a>
                        </p>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 text-align-center margin-top-auto padding-vertical">
                    <a href="/verify/" class="button button-fill button-large button-raised color-theme">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>