<template>
    <div class="page" data-name="login">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <div class="logo-small">
                        <img src="img/logo.png" alt=""/>
                        <h5><span class="text-secondary fw-light">Finance</span><br/>Wallet</h5>
                    </div>
                </div>
                <div class="right">
                    <a href="/login/">Sign in</a>
                </div>
            </div>
        </div>
        <div class="page-content ">
            <div class="row h-100 justify-content-center">
                <div class="col-90 medium-50 large-40">
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 align-self-center padding-vertical">
                    <h1 class="margin-bottom"><span class="text-secondary fw-light">Change your</span><br/>password</h1>
                    <p class="text-secondary margin-bottom-half">Thank you for confirming email address and
                        username.</p>
                    <br/>
                    <form class="was-validated needs-validation" novalidate>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-valid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">New Password</div>
                                        <div class="item-input-wrap"><input type="password" name="newpassword"
                                                                            class="input-with-value"
                                                                            value="Maxartkiller"/><span
                                                class="input-clear-button"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value is-invalid">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Confirm New Password</div>
                                        <div class="item-input-wrap"><input type="password" name="confirmnewpassword"
                                                                            class="input-with-value"
                                                                            value="Maxartkiller"/><span
                                                class="input-clear-button"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 text-align-center margin-top-auto padding-vertical">
                    <a href="/thankyou/" class="button button-fill button-large button-raised color-theme">
                        Update
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>