<template>
    <div class="page" data-name="event-assistance-qr">

        <div style="height: 100%">
            <!--            <div id="close-qr">X</div>-->
            <div id="scanner-head">
                <h2 id="scanner-head-title">Enfonca un código QR para tomar asistencia en un evento</h2>
            </div>
            <div id="reader" style="width: 300px" class="scanner-reader"></div>
            <div id="overlay"></div>
            <div id="scanner-frame"></div>
            <!--                <div id="scanner-line"></div>-->
            <div id="scanner-info">
                <!--<img id="scanner-image" src="img/app/logo.png" alt="Descripción de la imagen">-->
                <h1 id="scanner-title">Título del escáner</h1>
                <p id="scanner-subtitle">Subtítulo del escáner</p>
            </div>
            <video id="preview" style="height: 100%;  zoom: 1.5;"></video>
        </div>


    </div>
</template>