<template>
    <div class="page" data-name="event-assistance">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Asistencia
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
                <div class="subnavbar">
                    <div class="subnavbar-inner">
                        <div class="segmented segmented-strong">
                            <button class="button button-active">Asistencia</button>
                            <button class="button c-white" id="button-go-assistance-participant">Participantes</button>
                            <span class="segmented-highlight"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row mt-10" id="assistance-title">

            </div>
            <div id="containerManual"></div>
            <!--<div class="col-100 medium-50 large-33 mt-10">
                <button class="button button-fill color-theme" id="button-go-qr">
                    Escaner QR
                </button>
                <button class="button button-fill color-theme mt-10" id="button-open-assistance">
                    Asistentes
                </button>

            </div> -->

            <div class="row margin-bottom margin-top-auto padding-vertical" id="assistance-div">
                <div class="col" id="first-assistance-div">
                    <a id="button-go-qr" class="button button-fill button-large color-white elevation-2 w-100">Escaner
                        QR</a>
                </div>
                <div class="col" id="assistance-btn">
                    <a id="button-open-assistance"
                       class="button button-fill button-large color-theme elevation-2 w-100">Asistentes</a>
                </div>
            </div>

            <div class="popup scanner-assistance">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-bg"></div>
                        <div class="navbar-inner">
                            <div class="title">Asistencias</div>
                            <div class="right"><a href="#" class="link popup-close">Cerrar</a></div>
                        </div>
                    </div>
                    <div class="page-content">
                        <!--                        <div class="header-fixed " >-->
                        <!--                            <h3>Lista de asistentes</h3>-->
                        <!--                        </div>-->
                        <div id="assistance-container" style="margin-top: 5px"></div>
                    </div>
                </div>
            </div>
            <div class="popup scanner-qr">
                <div class="page background-qr">
                    <div class="scanner-head2">
                        <div class="" style="width: 12%">
                        </div>
                        <div class="" style="width: auto">
                            <h2 class="scanner-head-title">Escanea el código QR</h2>
                        </div>
                        <div class="" style="width: 12%">
                            <div style="display: flex;
                                    justify-content: center; width: 39px">
                                <button class="button button-fill color-white" id="button-back-qr">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="reader__scan_region">

                        <!--            <div id="close-qr">X</div>-->
                        <!--                        <div class="scanner-head">-->

                        <!--                            <div class="d-flex" style="padding: 20px">-->
                        <!--                                <div class="left">-->
                        <!--                                    <button id="button-back-qr" class="button button-fill color-white">-->
                        <!--                                        <i class="bi bi-arrow-left"></i>-->
                        <!--                                    </button>-->
                        <!--                                </div>-->
                        <!--                                <div class="title">-->
                        <!--                                    <h2 id="scanner-head-title">Enfonca un código QR para tomar asistencia en un evento</h2>-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                        </div>-->
                        <div id="reader" style="width: 300px" class="scanner-reader"></div>
                        <!--                        <div id="overlay"></div>-->
                        <!--                        <div id="overlay_1"></div>-->
                        <!--                        <div id="overlay_2"></div>-->
                        <!--                        <div id="overlay_3"></div>-->
                        <!--                        <div id="overlay_4"></div>-->
                        <!--                        <div id="overlay_center"></div>-->

                        <canvas id="qr-canvas" width="250" height="250"
                                style="width: 250px;height: 250px;display: none;"></canvas>
                        <div id="scanner-frame"></div>
                        <div id="scanner-line"></div>
                        <!--                        <div id="scanner-info">-->
                        <!--                            &lt;!&ndash;<img id="scanner-image" src="img/app/logo.png" alt="Descripción de la imagen">&ndash;&gt;-->
                        <!--                            <h1 id="scanner-title">Título del escáner</h1>-->
                        <!--                            <p id="scanner-subtitle">Subtítulo del escáner</p>-->
                        <!--                        </div>-->
                        <!--                        <div id="scanner-footer">-->
                        <!--                            <div id="scanner-footer-text">-->
                        <!--                                &lt;!&ndash;                                <p>Evento: Prueba 1.1</p>&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                                <p>Fecha: 01-01-0101</p>&ndash;&gt;-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <video playsinline id="preview"></video>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <!-- Footer ends-->


    </div>
</template>