<template>
    <div class="page page-home" data-name="inscription-view">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <button class="button button-fill color-white button-44" id="button-back">
                        <i class="bi bi-arrow-left"></i>
                    </button>
                </div>
                <div class="title">
                    Detalle de inscripción
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!--            <div class="block-title">Inscripcion</div>-->
            <div class="row mt-10">
                <div class="col">
                    <div id="inscription-view"></div>
                </div>
            </div>

        </div>


        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <!-- Footer ends-->


    </div>
</template>