<template>
    <div class="page page-home" data-name="calendar">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Calendario
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>

                <div class="subnavbar">
                    <div class="subnavbar-inner" id="calendar-navbar">
                        <!--<button class="button button-fill w-10-calendar" id="prev-button">&lt</button>
                             <h5 class="text-align-center color-black-title" id="navbar-current">FECHA</h5>
                        <button class="button button-fill w-10-calendar" id="next-button">&gt;</button>-->
                    </div>
                </div>

            </div>
        </div>

        <div class="page-content-calendar">
            <div class="subnavbar-internal mt-10 mb-2" id="calendar-navbar-days" style="position: sticky">
            </div>
            <div id="calendar" style="height: 88%; background-color: #fafafa;"></div>
            <div id="container-detail"></div>
        </div>


        <footer class="footer" id="generate-navbar">
        </footer>


    </div>
</template>