<template>
    <div class="page page-home" data-name="scanner-qr">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Scanner QR
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="block-title">Lector de RQ</div>

            <div class="row">
                <div class="col">
                    <div id="reader" style="width: 300px" class="scanner-reader"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <div class="popup popup-menu elevation-2 popup-swipe-to-close">
            <div class="row h-100 justify-content-center align-item-center">
                <div class="col-100 align-self-center">
                    <h1 class="margin-bottom text-align-center"><span
                            class="text-secondary fw-light">Muestra tu</span><br/>QR</h1>
                    <div class="text-align-center">
                        <div class="qr-content">
                            <div id="area-para-qr" class="qr-generate"></div>
                        </div>
                        <p class="small text-secondary margin-bottom">Para poder ingresar a los distintos<br/>eventos
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer ends-->


    </div>
</template>