<template>
    <div class="page page-login" data-name="confirmCode">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <div class="logo-medium">
                        <img src="img/app/logo.png" alt=""/>
                    </div>
                </div>
                                <div class="right">
                                    <a href="/login/">Iniciar sesión</a>
                                </div>
            </div>
        </div>

        <div class="page-content ">
            <div class="row h-100  justify-content-center">
                <div class="col-90 medium-50 large-40">
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 align-self-center padding-vertical">
                    <h1 class="margin-bottom c-white"><span class="text-secondary fw-light">Confirme</span><br/>su
                        ingreso
                    </h1>
                    <p class="c-white margin-bottom-half">Se le envio un codigo a su mail.</p>
                    <br/>
                    <form class="was-validated needs-validation" novalidate>
                        <div class="list form-list no-margin margin-bottom">
                            <div id="digit-container-2">
                                <input type="text" maxlength="1" class="digit-input-2"/>
                                <input type="text" maxlength="1" class="digit-input-2"/>
                                <input type="text" maxlength="1" class="digit-input-2"/>
                                <input type="text" maxlength="1" class="digit-input-2"/>
                                <input type="text" maxlength="1" class="digit-input-2"/>
                                <input type="text" maxlength="1" class="digit-input-2"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 text-align-center margin-top-auto padding-vertical">
                    <button class="button button-fill button-large button-raised color-theme" id="buttonResendCode">
                        Reenviar código
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>