<template>
    <div class="page page-home" data-name="profile-change-password">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Cambiar contraseña
                </div>
                <!--                <div class="right">-->
                <!--                    <a href="/profile/" class="button button-fill color-white button-44">-->
                <!--                        <i class="bi bi-person-circle"></i>-->
                <!--                        <span class="count-indicator"></span>-->
                <!--                    </a>-->
                <!--                </div>-->

                <div class="subnavbar">
                    <div class="subnavbar-inner">
                        <div class="segmented segmented-strong">
                            <a class="button c-white" href="/profile-profile/">Perfil</a>
                            <button class="button button-active">Cambiar contraseña</button>
                            <span class="segmented-highlight"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row mt-10">
                <div class="col-100">
                    <div class="clearfix"></div>
                    <div id="content-profile"></div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <div class="popup popup-menu elevation-2 popup-swipe-to-close">
            <div class="row h-100 justify-content-center align-item-center">
                <div class="col-100 align-self-center">
                    <h1 class="margin-bottom text-align-center"><span
                            class="text-secondary fw-light">Muestra tu</span><br/>QR</h1>
                    <div class="text-align-center">
                        <div class="qr-content">
                            <div id="area-para-qr" class="qr-generate"></div>
                        </div>
                        <p class="small text-secondary margin-bottom">Para poder ingresar a los distintos<br/>eventos
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>