/* Propiedades generales */
.table-calendar {
    width: 100%;
    background-color: #fafafa;
    border-spacing: 0;
}

.table-calendar td {
    min-height: 40px;
}

/* Contenedor overflow */
/*#app {*/
/*    overflow-y: auto;*/
/*    height: 600px;*/
/*    background-color: #fafafa;*/
/*}*/
.container-with-scroll {
    overflow-y: auto;
    height: 80%;
    background-color: #fafafa;
}

/* Cabecera */
.header {
    border-collapse: collapse;
    position: sticky;
    top: 0;
    background-color: white;
}

/* Hora */
.time-header, .time-column {
    width: 78px;
    font-weight: bold;
    text-align: right;
    position: sticky;
    left: 0;
    background-color: white;
    padding: 0;
}

.time-header {
    z-index: 1;
}

.time-column {
    /*width: 150px;*/
}

/* Columnas */
.column, .container-hour, .event-column, .event-cell {
    border: 1px solid rgba(0, 0, 0, 0.1); /* Color y estilo de bordes compartidos */
}

.column {
    border-top: solid #ddd;
    border-bottom: solid #ddd;
    border-left: solid #ddd;
}

.container-hour {
    width: 80px;
    min-height: 20px;
    padding: 0;
    vertical-align: top;
}

/* Columnas de eventos */
.event-column.half-hour-mark, .time-column.half-hour-mark {
    z-index: 2;
    width: calc(50% - 40px);
    vertical-align: top;
    border-top: 1px dashed rgba(37, 177, 60, 0.6);
    background-color: #ebfce4;
}

/* Celda de eventos */
.event-cell {
    min-width: 150px;
    height: auto;
    white-space: nowrap;
    border-radius: 5px;
}

/* Reglas de hover y clases de utilidad */
tr:hover {
    background-color: #f0f0f0;
}

.text-center {
    text-align: center;
}

.subnavbar-calendar {
    height: calc(var(--f7-subnavbar-height) + var(--f7-subnavbar-height) + 1px);
    margin-top: -1px;
    padding-top: 1px;
}

.page-content-calendar {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
    padding-top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-toolbar-top-offset, 0px) + var(--f7-page-subnavbar-offset, 0px) + var(--f7-page-searchbar-offset, 0px) + var(--f7-page-content-extra-padding-top, 0px));
    padding-bottom: calc(var(--f7-page-toolbar-bottom-offset, 0px) + var(--f7-safe-area-bottom) + var(--f7-page-content-extra-padding-bottom, 0px));
}