/* CSS */
#digit-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

#digit-container-2 {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.digit-input {
    border: 1px solid #ffffff !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin: 5px !important;
    width: 20px;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
    color: white !important;
}

.digit-input-2 {
    border: 1px solid #ffffff !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin: 5px !important;
    width: 20px;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
    color: white !important;
}