#reader__scan_region {
    width: 100%;
    min-height: 100px;
    text-align: center;
    position: relative;
}
#scanner-frame {
    position: absolute;
    border-width: calc((100vh - 250px) / 2) calc((100vw - 250px) / 2) calc((100vh - 250px) / 2) calc((100vw - 250px) / 2);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.48);
    box-sizing: border-box;
    inset: 0px;
}

#scanner-line {
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #074327;
    animation: scan-line 2s linear infinite;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; /* Permite que los clics pasen por la superposición */
}

#overlay_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; /* Permite que los clics pasen por la superposición */
}

#overlay_2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; /* Permite que los clics pasen por la superposición */
}

#overlay_3 {
    position: fixed;
    top: 30vh;
    left: 0;
    width: 15vw;
    height: 74vw;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; /* Permite que los clics pasen por la superposición */
}

#overlay_4 {
    position: fixed;
    top: 30vh;
    right: 0;
    width: 15vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; /* Permite que los clics pasen por la superposición */
}

#overlay_center {
    position: fixed;
    top: 30vh;
    left: 15vw;
    width: 70vw;
    height: 40vh;
    /*background: rgba(0, 0, 0, 0.5);*/
    background: transparent;
    pointer-events: none;
}
#scanner-info {
    position: fixed; /* o absolute dependiendo de tus necesidades */
    bottom: 0; /* alineamos en la parte de abajo */
    left: 50%; /* y en el centro horizontal */
    top: 65%;
    transform: translateX(-50%); /* este es para corregir la alineación, toma como punto de partida el centro del elemento y no su borde izquierdo */
    text-align: center; /* centra el texto del título y subtítulo */
}

/* Puedes añadir estilos individuales para la imagen, título y subtítulo si lo necesitas */
#scanner-image {
    /* estilos para la imagen aquí */
}

#scanner-title {
    /* estilos para el título aquí */
}

#scanner-subtitle {
    /* estilos para el subtítulo aquí */
}

#close-qr {
    font-size: medium;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    z-index: 100;
}

.background-qr {
    background-color: rgba(0, 0, 0, 0.5);
}

.scanner-head {
    position: fixed;
    font-size: 12px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    overflow: auto; /* scroll o hidden */
}

.scanner-head2 {
    /*font-size: 12px;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*height: 90px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 200;
}

.scanner-head-title {
    /*position: fixed;*/
    font-size: 17px;
    width: 100%;
    text-align: center;
    /*padding: 5% 15%;*/
    padding-right: 5%;
    padding-left: 5%;
    line-height: 30px !important;
}

/*#scanner-head-title {*/
/*    !*position: fixed;*!*/
/*    font-size: 15px;*/
/*    width: 75%;*/
/*    !*padding: 5% 15%;*!*/
/*    padding-right: 5%;*/
/*    padding-left: 5%;*/
/*}*/

#scanner-footer {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5px;
    overflow: auto; /* scroll o hidden */
}

#scanner-footer-text {
    /*position: fixed;*/
    font-size: 15px;
    width: 75%;
    padding: 5% 15%;
}

#preview {
    /*width: 100vw; !* Cubre el 100% del ancho de la vista *!*/
    /*height: 100vh; !* Cubre el 100% de la altura de la vista *!*/
    /*zoom: 1.2;*/
    /*object-fit: cover;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
}