<template>
    <div class="page page-home" data-name="configuration">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Configuraciones
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <!-- Notification information -->
            <div class="row margin-bottom margin-top">
                <div class="col-100">
                    <h5>General</h5>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-100 no-padding-horizontal">
                    <div class="list no-margin">
                        <ul>
                            <li class="list-item">
                                <div class="row">
                                    <div class="col-auto">
                                        <label class="toggle toggle-init color-green">
                                            <input type="checkbox" id="darkmodeswitch"/>
                                            <span class="toggle-icon"></span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <h5 class="no-margin-bottom">Modo oscuro</h5>
                                        <p class="text-muted small">Cambiar el tema del app</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>
    </div>
</template>
