<template>
    <div class="page page-home" data-name="event-academic-assistance">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Asistencia
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
                <div class="subnavbar">
                    <div class="subnavbar-inner">
                        <div class="segmented segmented-strong">
                            <button class="button button-active">Asistencia</button>
                            <button class="button" id="button-go-assistance-manual">Asistencia Manual</button>
                            <button class="button" id="button-go-assistance-participant">Participantes</button>
                            <span class="segmented-highlight"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row mt-10">
                <div class="col">
                    <h3>Tomar asistencia</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="reader" style="width: 300px" class="scanner-reader"></div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <!-- Footer ends-->


    </div>
</template>