<template>
    <div class="page page-home" data-name="statistics">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Estadísticas
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>

                <div class="subnavbar">
                    <div class="subnavbar-inner" id="calendar-navbar">
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content-calendar">
            <div class="subnavbar-internal mt-10 mb-2" id="calendar-navbar-days" style="position: sticky">
            </div>
            <div id="calendar" style="height: 88%; background-color: #fafafa;"></div>

        </div>


        <footer class="footer" id="generate-navbar">
        </footer>
        <div id="generate-cQR" class="popup popup-menu elevation-2 popup-swipe-to-close"></div>


    </div>
</template>