<template>
    <div class="page page-home" data-name="statistics">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Estadísticas
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>

            </div>
        </div>

        <div class="page-content">

            <!-- inicio Cantidad de participantes -->
            <div class="row text-align-center">
                <div class="col-100">
                    <h1 class="fw-light margin-bottom-half" id="cant_participant">0</h1>
                    <p class="text-secondary">Cantidad de Participantes</p>
                </div>
            </div>
            <!-- fin Cantidad de participantes -->


            <div class="row margin-bottom-half">
                <div class="col">
                    <h6 class="title">Categorias Principales</h6>
                </div>
            </div>

            <!-- inicio cards  -->
            <div class="row margin-bottom">
                <div class="col-50">
                    <div class="card-statistics">
                        <div class="card-content card-content-padding">
                            <div class="row"><div class="col-auto">
                                <div class="avatar avatar-40 padding-half-sm elevation-2 elevation-green rounded-15">
                                    <div class="icons bg-color-green text-color-white rounded-12">
                                        <i class="bi bi-award-fill"></i>
                                    </div>
                                </div>
                            </div>
                                <div class="col align-self-center no-padding-left">
                                    <p class="size-10 text-secondary no-margin-bottom">Universidad más inscritos</p>
                                    <p class="text-color-deeporange size-10" id="uinscritos">-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-50">
                    <div class="card-statistics">
                        <div class="card-content card-content-padding">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 padding-half-sm elevation-2 elevation-red rounded-15">
                                        <div class="icons bg-color-red text-color-white rounded-12">
                                            <i class="bi bi-clipboard-pulse"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-self-center no-padding-left">
                                    <p class="size-10 text-secondary no-margin-bottom">Cantidad más inscritos</p>
                                    <p class="text-color-deeporange size-10" id="ninscritos">-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-50">
                    <div class="card-statistics">
                        <div class="card-content card-content-padding">
                            <div class="row"><div class="col-auto">
                                <div class="avatar avatar-40 padding-half-sm elevation-2 elevation-green rounded-15">
                                    <div class="icons bg-color-blue text-color-white rounded-12">
                                        <i class="bi bi-file-earmark-ruled-fill"></i>
                                    </div>
                                </div>
                            </div>
                                <div class="col align-self-center no-padding-left">
                                    <p class="size-10 text-secondary no-margin-bottom">Mejor Evento</p>
                                    <p class="text-color-deeporange size-10" id="emejor">-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-50">
                    <div class="card-statistics">
                        <div class="card-content card-content-padding">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 padding-half-sm elevation-2 elevation-red rounded-15">
                                        <div class="icons bg-color-deeppurple text-color-white rounded-12">
                                            <i class="bi bi-mortarboard-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-self-center no-padding-left">
                                    <p class="size-10 text-secondary no-margin-bottom">Olimpianeic</p>
                                    <p class="text-color-deeporange size-10" id="omejor">-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio cards  -->

            <!-- inicio cabecera de gráfico de barras -->
            <div class="row mt-10">
                <div class="col position-relative align-self-center">
                    <h6 class="">Ranking de Universidades (puntos)</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="/statistics-rank-university-view/">Ver más</a>
                </div>
            </div>
            <!-- inicio cabecera de gráfico de barras -->

            <!-- inicio gráfico de barras -->
            <div class="row mt-10">
                <div class="col-100 overflow-hidden">
                    <div class="card-body px-2">
                        <canvas id="areachart" class="margin-bottom" style="display: block; box-sizing: border-box; height: 190.857px; width: 382px;" width="1337" height="668"></canvas>
                    </div>
                </div>
            </div>
            <!-- fin gráfico de barras -->

            <!-- inicio cabecera de Polar Area -->
            <div class="row mt-10">
                <div class="col position-relative align-self-center">
                    <h6 class="">Inscritos por Universidad</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="/statistics-inscription-university-view/">Ver más</a>
                </div>
            </div>
            <!-- inicio cabecera de Polar Area -->

            <!-- inicio gráfico de Polar Area -->
            <div class="row mt-10">
                <div class="col-100 overflow-hidden">
                    <div class="card-body px-2">
                        <canvas id="polarareachart" class="margin-bottom" style="display: block; box-sizing: border-box; height: 190.857px; width: 382px;" width="1337" height="668"></canvas>
                    </div>
                </div>
            </div>
            <!-- fin gráfico de Polar Area -->

            <!-- inicio cabecera de Eventos -->
            <div class="row mt-10">
                <div class="col position-relative align-self-center">
                    <h6 class="">Eventos con más inscritos</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="/statistics-event-with-most-income-view/">Ver más</a>
                </div>
            </div>
            <!-- inicio cabecera de Bar Eventos -->

            <!-- inicio gráfico de Bar Eventos -->
            <div class="row mt-10">
                <div class="col-100 overflow-hidden">
                    <div class="card-body px-2">
                        <canvas id="eventareachart" class="margin-bottom" style="display: block; box-sizing: border-box; height: 190.857px; width: 382px;" width="1337" height="668"></canvas>
                    </div>
                </div>
            </div>
            <!-- fin gráfico de Bar Eventos -->


            <!-- inicio cabecera de Olimpianeic -->
            <div class="row mt-10">
                <div class="col position-relative align-self-center">
                    <h6 class="">Olimpianeic con más inscritos</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="/statistics-olimpianeic-with-most-income-view/">Ver más</a>
                </div>
            </div>
            <!-- inicio cabecera de Olimpianeic -->

            <!-- inicio gráfico de Olimpianeic -->
            <div class="row mt-10">
                <div class="col-100 overflow-hidden">
                    <div class="card-body px-2">
                        <canvas id="olimpianeicchart" class="margin-bottom" style="display: block; box-sizing: border-box; height: 190.857px; width: 382px;" width="1337" height="668"></canvas>
                    </div>
                </div>
            </div>
            <!-- fin gráfico de Olimpianeic -->


        </div>

        <footer class="footer" id="generate-navbar">
        </footer>
        <div id="generate-cQR" class="popup popup-menu elevation-2 popup-swipe-to-close"></div>


    </div>
</template>