<template>
    <div class="page" data-name="resetPassword">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <div class="logo-medium">
                        <img src="img/app/logo.png" alt=""/>
                    </div>
                </div>
                <div class="right">
                    <a href="/login/">Iniciar sesión</a>
                </div>
            </div>
        </div>

        <div class="page-content ">
            <div class="row h-100  justify-content-center">
                <div class="col-90 medium-50 large-40">
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 align-self-center padding-vertical">
                    <h1 class="margin-bottom"><span class="text-secondary fw-light">Ingrese nueva</span><br/>Contraseña
                    </h1>
                    <p class="text-secondary margin-bottom-half">Ingrese su nueva contraseña</p>
                    <br/>
                    <form class="was-validated needs-validation" novalidate>
                        <div class="list form-list no-margin margin-bottom">
                            <ul>
                                <li class="item-content item-input item-input-with-value">
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label login-label">Contraseña</div>
                                        <div class="item-input-wrap">
                                            <input type="text" name="newPassword" class="input-with-value login-input"
                                                   id="fg-new-password" value=""/>
                                            <span class="input-clear-button login-clear-button"></span></div>
                                    </div>
                                </li>
                                <li id="fg-new-password-error" class="error-message ml-10">
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-90 medium-50 large-40 text-align-center margin-top-auto padding-vertical">
                    <button class="button button-fill button-large button-raised color-theme"
                            id="buttonResetPassword">
                        <span class="preloader" id="loadingResetPassword"></span>
                        Cambiar contraseña
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>