<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="button button-fill button-44 color-white back" >
          <i class="bi bi-arrow-left"></i>
      </a>
      </div>
      <div class="title">
        <h5>Page not found</h5>
      </div>
      <div class="right">
        <a href="/profile/" class="button button-fill color-white button-44">
          <i class="bi bi-person-circle"></i>
          <span class="count-indicator"></span>
      </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="row h-100">     
      <div class="col-100 align-self-center pb-3">
        <div class="row h-100">
          <div class="col-100 no-padding-horizontal align-self-center">
            <div class="row">
              <div class="col-ld-6 position-relative thankyouimg2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="341.488"
                       height="309.4" viewBox="0 0 341.488 309.4" class="bg404bg">
                  <defs>
                    <linearGradient id="linear-gradient13" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                      <stop offset="0" stop-color="#09b2fd" />
                      <stop offset="1" stop-color="#6b00e5" />
                    </linearGradient>
                  </defs>
                  <path id="verficationbg"
                    d="M692.351,321.27c55.785,40.634,22.728,98.486,66.116,115.7s70.616-63.289,147.384-70.248,62.673-84.023,16.027-119.57-8.366-66.884-51.151-93.738-78.652,25.674-102.343,0-69.835-30.495-100.827-13.266-48.9,40.623-48.9,81.256C621.414,273.06,662.736,291.655,692.351,321.27Z"
                    transform="translate(-618.659 -129.981)" fill="url(#linear-gradient13)" />
                </svg>
                <div class="text">ERROR</div>
                <div class="circle small one"></div>
                <div class="circle two"></div>
                <div class="circle small three"></div>
                <img src="img/404.svg" alt="" class="slideimg404">
              </div>
              <div class="col-90 medium-65 large-33 col-ld-6 margin-left-auto margin-right-auto">
                <h1 class="margin-bottom"><span class="text-secondary fw-light">Error</span><br />404</h1>
                <p class="text-secondary">Page your are looking for is not available. Kindly check URL or try after
                  sometime</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-90 margin-top-auto margin-left-auto margin-right-auto padding-vertical">
        <div class="row ">
          <div class="col-100 d-grid">
            <a href="/pages/" class="button button-fill button-large button-raised color-theme">Back to Pages</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>