<template>
    <div class="page page-home" data-name="olimpianeic">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Bienvenido Mc Giver
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>

                <div class="subnavbar">
                    <div class="subnavbar-inner">
                        <div class="segmented segmented-strong">
                            <button class="button button-active">Academico</button>
                            <a class="button" href="/events_2/">Social Cultural</a>
                            <a class="button" href="/events_2/">Estadisticas</a>
                            <a class="button" href="/events_2/">Incripciones</a>
                            <span class="segmented-highlight"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!-- balance -->
            <div class="row margin-vertical text-align-center">
                <div class="col-100">
                    <div class="navbar-logo">
                        <img src="img/app/logo.png" alt=""/>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home/">
              <span>
                <i class="nav-icon bi bi-house"></i>
                <span class="nav-text">Inicio</span>
              </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events/">
              <span>
                <i class="nav-icon bi bi-binoculars"></i>
                <span class="nav-text">Eventos</span>
              </span>
                        </a>
                    </li>
                    <li class="nav-item centerbutton">
                        <button type="button" class="nav-link popup-open" data-popup=".popup-menu">
              <span class="theme-radial-gradient">
                <i class="bi bi-grid size-22"></i>
              </span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/olimpianeic/">
              <span>
                <i class="nav-icon bi bi-bag"></i>
                <span class="nav-text">Olimpianeic</span>
              </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">
              <span>
                <i class="nav-icon bi bi-wallet2"></i>
                <span class="nav-text">Perfil</span>
              </span>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <div class="popup popup-menu elevation-2 popup-swipe-to-close">
            <div class="row h-100 justify-content-center align-item-center">
                <div class="col-100 align-self-center">
                    <h1 class="margin-bottom text-align-center"><span class="text-secondary fw-light">Muestra tu</span><br />QR</h1>
                    <div class="text-align-center">
                        <img src="img/QRCode.png" alt="" class="margin-bottom-half" />
                        <p class="small text-secondary margin-bottom">Para poder ingresar a los distintos<br />eventos</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer ends-->



    </div>
</template>