
  <div class="page " data-name="splash">
    <div class="page-content bg-color">
      <div class="block h-100 no-margin">
        <img src="img/splash2.png" alt="" class="bg-2-splash"/>
        <div class="row h-100 justify-content-center">
          <div class="col-80 medium-50 large-40 text-align-left align-self-center margin-left-auto margin-right-auto">
            <a href="/landing/" class="logo-splash-v1" >
                <img src="img/app/logo.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>