<template>
    <div class="page page-home" data-name="profile-benefit">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Beneficios
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row margin-vertical text-align-center">
                <div class="col-100">
                    <div class="navbar-logo">
                        <img src="img/app/logo.png" alt=""/>
                    </div>
                </div>
                <div class="col-100 benefit-detail">
                    <h3>Guacamayo</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <div class="popup popup-menu elevation-2 popup-swipe-to-close">
            <div class="row h-100 justify-content-center align-item-center">
                <div class="col-100 align-self-center">
                    <h1 class="margin-bottom text-align-center"><span
                            class="text-secondary fw-light">Muestra tu</span><br/>QR</h1>
                    <div class="text-align-center">
                        <div class="qr-content">
                            <div id="area-para-qr" class="qr-generate"></div>
                        </div>
                        <p class="small text-secondary margin-bottom">Para poder ingresar a los distintos<br/>eventos
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>