.loader-wrap {
    @extend .theme-light-radial-gradient;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  
    .loader-cube-wrap {
      width: 100px;
    }
  }
  
  .progressstimer {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto 10px auto;
    position: relative;
    img {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 0;
      -webkit-animation: rotating 1s linear infinite;
      animation: rotating 1s linear infinite;
    }
    .timer {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  @-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  