.text-muted {
    opacity: 0.7;
    color: inherit !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

h1,
.h1 {
    font-size: 40px;
    line-height: 1.15;
}


h2, .h2 {
    font-size: 34px;
}

h3, .h3 {
    font-size: 28px;
}

h4, .h4 {
    font-size: 22px;
}
h5, .h5 {
    font-size: 18px;
    line-height: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
    line-height: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    &.small{
        font-size: 14px;
    }
}

.small, small{
    line-height: 1.22;
    font-size: 14px !important;
}
.font-weight-light{
    font-weight: 300;
}
strong {
    font-weight: 600;
}

.size-10 {
    font-size: 10px !important;
    line-height: 12px;
}
.size-12 {
    font-size: 12px !important;
}
.size-18 {
    font-size: 18px !important;
}
.size-20 {
    font-size: 20px !important;
}
.size-22 {
    font-size: 22px !important;
}
.size-24 {
    font-size: 24px !important;
}
.size-32 {
    font-size: 32px !important;
}

a {
    text-decoration: none;
    color: var(--finwallapp-theme-color) 
}
.text-color-theme {
    color: var(--finwallapp-theme-color) !important;
}
.text-secondary{
    color: var(--finwallapp-theme-text-secondary) !important;
}

.fw-light {
    font-weight: 300;
}
.fw-medium {
    font-weight: 600;
}
.dark-bg {
    color: var(--finwallapp-theme-text);
    a,
    .text-color-theme {
        color: var(--finwallapp-theme-text);
    }
    .form-control,
    label {
        color: #000000;
    }
}

.text-normalcase{
    text-transform: none !important;
}

@media screen and (max-height: 667px) {
    h1, .h1{
        font-size: 34px;
    }
    
}

@media screen and (max-width: 340px) {
    h1, .h1{
        font-size: 30px;
    }
    
}