<template>
    <div class="page page-home" data-name="events-registration">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="title">
                    Inscribirse
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content" id="contentRegistration">
            <div class="row mt-10">
                <div class="col">
                    <h3>Inscribirse</h3>
                </div>
            </div>
            <div id="containerRegistration"></div>

        </div>


        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <!-- Footer ends-->


    </div>
</template>