<template>
    <div class="page page-home" data-name="home-university-list">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="button button-fill color-white button-44 back">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
                <div class="title">
                    Universidades
                </div>
                <div class="right">
                    <a href="/profile-profile/" class="button button-fill color-white button-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!--            <div class="block-title">Inscripcion</div>-->
            <div class="row mt-2">
                <div class="col">
                    <div id="university-list"></div>
                </div>
            </div>

        </div>


        <!-- Footer -->
        <footer class="footer" id="generate-navbar">
        </footer>

        <!-- Footer ends-->


    </div>
</template>