@import "scannerQr.css";
@import "forgotPassword.css";
@import "inscription.css";
@import "home.css";
@import "calendar.css";

.navbar {
    height: var(--f7-navbar-height) !important;
}

.navbar-inner {
    padding-top: var(--f7-navbar-padding-top) !important;
    padding-bottom: var(--f7-navbar-padding-bottom) !important;
}

.sidebar .row {
    margin-top: var(--sidebar-margin-top);
}
/*.ios.ios-translucent-bars .navbar-bg {*/
/*    --f7-navbar-bg-color: var(--f7-theme-color) !important;*/
/*    background-color: var(--f7-theme-color) !important; !* Utiliza tu propio color *!*/
/*}*/
.color-theme-app-default {
    /*--f7-navbar-height: 100px;*/
    /*--f7-safe-area-top: 10px;*/
    --sidebar-margin-top: 0px;
    --f7-navbar-padding-top: var(--finwallapp-padding);
    --f7-navbar-padding-bottom: var(--finwallapp-padding);
    --f7-theme-color: #0e5736;
    --f7-theme-color-rgb: 76, 217, 100;
    --f7-theme-color-shade: #083a22;
    --f7-theme-color-tint: #13a166;
    --f7-bars-bg-color: var(--f7-theme-color);
    --finwallapp-card-color: var(--f7-theme-color);
    --finwallapp-card-text: white;
    --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
    --f7-bars-text-color: #fff;
    --f7-bars-link-color: #fff;
    --f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
    --f7-bars-border-color: transparent;
    --f7-tabbar-link-active-color: #fff;
    --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
    --f7-sheet-border-color: transparent;
    --f7-tabbar-link-active-border-color: #fff;
    /*    --finwallapp-card-color: rgba($green, 0.15);*/
    /*    --finwallapp-page-bg-1: darken($green, 34%);*/
    /*    --finwallapp-page-bg-2: darken($green, 42%);*/
    /*    --finwallapp-page-bg-3: darken($green, 50%);*/

    background-color: var(--f7-theme-color);

    /*--f7-bars-bg-color: rgba(14, 87, 54, 0.5) !important; !*código de color para fondo de navbar *!*/
    --finwallapp-theme-color-grad-1: #13a166;
    --finwallapp-theme-color-grad-2: #0e5736;
    --finwallapp-theme-color-grad-3: #083a22;
    --finwallapp-theme-color: var(--f7-theme-color);
    /*--f7-navbar-text-color: white;*/

    /*--f7-navbar-bg-color: blue;*/
    /*--f7-button-bg-color: red!important;*/
    --f7-subnavbar-bg-image: none !important;
    --f7-subnavbar-bg-color: none !important;
    --f7-segmented-strong-bg-color: var(--f7-theme-color-tint);
    --f7-segmented-strong-button-active-bg-color: var(--f7-theme-color-shade);
    --f7-segmented-strong-button-active-text-color: #ffff !important;
    --f7-button-hover-bg-color: red !important;
    /*--f7-button-bg-color: red !important;*/
    /*--f7-button-pressed-bg-color: var(--f7-button-bg-color) !important;*/
    /*--f7-segmented-strong-bg-color: var(--f7-theme-color);*/

    /*--f7-button-text-color: white!important;*/
    /*--f7-subnavbar-text-color: white!important;*/
    /*--f7-bars-text-color: white!important;*/
    --skeleton-color: #ccc;
    --skeleton-icon-color: rgba(0, 0, 0, 0.25);
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
    --f7-touch-ripple-color: var(--f7-touch-ripple-white);
    --f7-link-highlight-color: var(--f7-link-highlight-white);
    --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
    --f7-button-text-color: #fff;
    --f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
}

.theme-dark {
    --f7-theme-color: #13a166;
    --f7-theme-color-rgb: 76, 217, 100;
    --f7-theme-color-shade: #083a22;
    --f7-theme-color-tint: #13a166;
    --finwallapp-theme-color-grad-1: #13a166;
    --finwallapp-theme-color-grad-2: #0e5736;
    --finwallapp-theme-color-grad-3: #083a22;
    --finwallapp-theme-color: var(--f7-theme-color);

    background-color: var(--f7-theme-color);
    --f7-panel-width: 280px;
    --finwallapp-theme-text: #ffffff;
    --finwallapp-theme-text-primary: rgba(255, 255, 255, 0.85);
    --finwallapp-theme-text-secondary: rgba(255, 255, 255, 0.75);
    --finwallapp-theme-text-secondary-light: #bbbbbb;
    --finwallapp-theme-bordercolor: rgba(255, 255, 255, 0.1);
    --finwallapp-header: transparent;
    --finwallapp-header-active: #083a22;
    --finwallapp-footer: #0e5736;
    --finwallapp-sidebar: var(--finwallapp-theme-color);
    --finwallapp-card-color: rgba(9, 55, 20, 0.45);
    --finwallapp-page-bg-1: #0e653a;
    --finwallapp-page-bg-2: #083a22;
    --finwallapp-page-bg-3: #182e22;
    --finwallapp-page-text: #ffffff;
    --finwallapp-page-link: var(--finwallapp-theme-color);

    --f7-text-color: #fff;
    /*--f7-bars-bg-color: rgba(14, 87, 54, 0) !important;*/
    --f7-bars-bg-color: rgba(14, 87, 54, 0.5) !important; /*código de color para fondo de navbar */
    --f7-bars-bg-color-rgb: #0e653a;
    --f7-bars-border-color: rgba(14, 87, 54, 0) !important;
    --f7-page-bg-color: #083a22 !important;

    --f7-input-placeholder-color: white !important;
    /*--f7-bars-bg-image: none;*/
    /*--f7-bars-bg-color: none;*/
    --f7-subnavbar-bg-image: none !important;
    --f7-subnavbar-bg-color: none !important;
    --f7-button-bg-color: red;

    --f7-popup-transition-duration: 600ms;
}

.page-login {
    /* Url de la imagen */
    background-image: url('../img/app/fondo-app.png') !important;

    /* Centrar el fondo */
    background-position: center center !important;

    /* El fondo no se repite */
    background-repeat: no-repeat !important;

    /* El fondo es fijo, no se mueve al hacer scroll */
    background-attachment: fixed !important;

    /* Hacer que el fondo cubra toda la página */
    background-size: cover !important;

    /* Asegurar compatibilidad con diferentes navegadores */
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;

    /* Puedes agregar un color de fondo en caso de que la imagen no se cargue */
    background-color: #999;
}

.page-login span {
    color: white !important;
}

.page-login .item-inner .item-title {
    color: white !important;
}

.page-login .item-inner .input-with-value {
    color: white !important;
}

.logo-login {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 44px
}

.logo-login img {
    width: 250px;
    border-radius: calc(var(--finwallapp-rounded) - 8px);
    margin: 0 8px 0 0;
    border: 0;
    vertical-align: middle
}

.logo-splash-v1 {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 28px
}

.logo-splash-v1 img {
    width: 250px;
    margin: 0;
    border: 0;
}

input.login-input {
    border: 1px solid #ccc;
    background-color: #4cd9646e;
    border-radius: 10px; /* ajusta este valor a tus requerimientos */
    padding-left: 10px !important;
}

input.login-input.is-invalid {
    border: 1px solid red !important;
}

.error-message {
    color: red !important;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
}

.login-label {
    padding-left: 10px !important;
}

.login-clear-button {
    padding-right: 10px !important;
}

.navbar-logo {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    /*line-height: 44px*/

}

.navbar-logo img {
    width: auto;
    height: 100px;
    padding: 10px;
    background: var(--f7-button-fill-pressed-bg-color, var(--f7-theme-color-tint));
    margin: 0;
    border-radius: calc(var(--finwallapp-rounded) - 8px);
    /*margin-right: 8px;*/
    border: 0;
    vertical-align: middle
}

/*Utilitario*/
.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: 4px !important;
}

.p-9 {
    padding: 18px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mr-2 {
    margin-right: 2px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.d-block {
    display: block;
}

.item-title {
    white-space: normal;
    overflow: visible;
}

.content-popup-academic {
    margin-left: 25px;
    margin-right: 25px;
}

.bg-numeric {
    font-size: 20px;
    text-align: center;
    line-height: 40px; /* height should be the same as width and line-height to achieve a perfect circle and vertical center */
    width: 40px;
    height: 40px;
    color: var(--finwallapp-footer);
    font-weight: 600;
    background-color: white;
    border-radius: 50%;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 150px;
    align-content: center;
}

.benefit-detail {
    color: var(--finwallapp-footer);
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.qr-content {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.qr-generate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.scanner-reader {
    margin-left: auto;
    margin-right: auto;
}

.theme-dark body, body.theme-dark {
    background: radial-gradient(ellipse at 30% 30%, var(--finwallapp-page-bg-1) 0%, var(--finwallapp-page-bg-2) 50%, var(--finwallapp-page-bg-3) 100%);
}

.bg-color {
    background: #0e5736 !important;
}

.bg-color-2 {
    background: var(--f7-theme-color-tint) !important;
}

.floating-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*background: #0e5736;*/
    background: var(--f7-theme-color-tint);
    z-index: 100;
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 0;
    line-height: 60px;
    position: fixed;
    bottom: 77px;
    right: 20px;
    border: none;
    cursor: pointer;
}

.container-crud {
    width: 95%;
    margin: auto;
}

.header-fixed {
    position: fixed;
    top: calc(var(--f7-navbar-height) - 4px) !important;
    right: 0;
    left: 0;
    z-index: 100;
    /*display: flex;*/
    /*justify-content: space-between;*/
    align-items: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
    background: rgb(14, 87, 54) !important;
    color: white;
    margin-top: 5px;
}

.header-fixed-only-search {
    position: fixed;
    top: calc(var(--f7-navbar-height) - 4px) !important;
    right: 0;
    left: 0;
    z-index: 100;
    /*display: flex;*/
    /*justify-content: space-between;*/
    align-items: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 54px;
    background: rgb(14, 87, 54) !important;
    color: white;
    margin-top: 5px;
}

.footer-fixed {
    position: fixed;
    bottom: 75px;
    left: 0;
    /*background: #083a22;*/
    display: flex;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.content-scrollable {
    margin-top: 15px; /* Asegúrate de tener suficiente margen en la parte superior para no ocultar tu contenido debajo de la cabecera fija */
    height: calc(100vh - 0px); /* Ajusta "60px" a la altura de tu cabecera */
    margin-bottom: 15px;
    overflow-y: auto;
}

.footer .nav {
    height: 75px;
}

.text-uppercase {
    text-transform: uppercase;
}

.logo-medium {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 44px
}

.logo-medium img {
    width: 120px;
    margin: 0;
    border-radius: calc(var(--finwallapp-rounded) - 8px);
    margin-right: 8px;
    border: 0;
    vertical-align: middle
}

.item-input-error-message {
    position: relative;
    margin-bottom: 6px;
    margin-top: 0 !important;
}

.title-white {
    color: white;
}

.event-detail-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fixed-footer-event {
    margin-bottom: 100px !important;
}

.fixed-footer-event-160 {
    margin-bottom: 160px !important;
}

.d-flex {
    display: flex;
}

.subnavbar {
    margin-top: 2px !important;
}

.button-white {
    background: var(--f7-theme-color-tint);
    color: white;
}

.c-white {
    color: white !important;
}

.clear-select {
    position: relative;
    margin-top: 4%;
    right: 4%;
    background: black;
    color: white;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 1px;
    border-radius: 10px;
    align-self: center;
    font-size: 13px;
}

.popup-menu-benefit {
    display: block;
    max-width: 85%;
    max-height: 100%;
    height: auto;
    align-self: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    border-radius: var(--finwallapp-rounded);
    padding: var(--finwallapp-padding) 0;
}

.popup-init {
    display: block;
    /*max-width: 85%;*/
    /*max-height: 100%;*/
    height: 99vw;
    width: 99vw;
    align-self: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;
    border-radius: var(--finwallapp-rounded);
    /*padding: var(--finwallapp-padding) 0;*/
    /*background-image: url('../img/app/stages/Banner.png') !important;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.subnavbar-internal {
    padding: 0 calc(var(--f7-subnavbar-inner-padding-left) + var(--f7-safe-area-right)) 0 calc(var(--f7-subnavbar-inner-padding-right) + var(--f7-safe-area-left));
}

.subnavbar-internal {
    padding: 0 calc(var(--f7-subnavbar-inner-padding-left) + var(--f7-safe-area-right)) 0 calc(var(--f7-subnavbar-inner-padding-right) + var(--f7-safe-area-left));
}

.number-box-hour {
    border: 2px solid var(--f7-theme-color-tint);
    padding: 2.5px;
    margin: 2.5px;
    width: 42px;
    height: 30px;
    line-height: 21px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff3f3;
    font-size: 30px !important;
    border-radius: 8px;
}

.text-box-hour {
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    font-size: 35px !important;
}

.fix-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-search {
    position: absolute;
    width: 100%;
    top: 133px;
}

.mt-navbar {
    margin-top: 50px !important;
}

.mt-navbar-100 {
    margin-top: 100px !important;
}

.mt-navbar-list {
    margin-top: 120px !important;
}

.text-limit {
    display: inline-block;
    max-width: 90%;
    overflow: hidden; /* Escondemos el contenido desbordado */
    text-overflow: ellipsis; /* mostramos puntos suspensivos para contenido desbordado */
    white-space: nowrap; /* Prevenimos los saltos de línea automáticos */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.card-statistics {
    margin: 0;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.x-list {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 50;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 20px;
    text-align: center;
}

.input-password {
    padding-right: 10px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition-duration: .1s;
    position: absolute;
    top: 50%;
    border: none;
    outline: 0;
    z-index: 1;
    cursor: pointer;
    background: 0 0;
    width: var(--f7-input-clear-button-size);
    height: var(--f7-input-clear-button-size);
    margin: calc(-1 * var(--f7-input-clear-button-size) / 2) 0 0;
    color: var(--f7-input-clear-button-color);
    right: 0;
}

.item-input-wrap .input-password {
    top: calc(var(--f7-input-height) / 2);
}

.input-with-value .input-password, .input-with-value ~ .input-password, .item-input-with-value .input-password {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.w-10-calendar {
    width: 16%;
}

.color-black-title {
    color: black !important;
}

