.social-networks {
    display: flex;
    /*width: fit-content;*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*gap: 50px;*/
    /*justify-content: space-around;*/
    font-size: 30px;
}

.social-networks-icon {
    width: 100%;
    text-align: center;
}

.social-networks i.bi-whatsapp {
    color: rgb(37, 211, 102);
}

.social-networks i.bi-facebook {
    color: rgb(59, 89, 152);
}

.social-networks i.bi-linkedin {
    color: rgb(0, 119, 181);
}

.social-networks i.bi-youtube {
    color: rgb(255, 0, 0);
}

.social-networks i.bi-instagram {
    color: rgb(225, 48, 108); /* #E1306C */
}

.social-networks .tiktok {
    color: black;
}

/*.info-container {*/
/*    padding: 20px;*/
/*    border-radius: 15px;*/
/*    border: 1px solid #ccc;*/
/*    max-width: 350px;*/
/*    margin: 20px auto;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/
.info-container {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 350px;
    margin: 20px auto;
    color: white;
    background-color: var(--f7-bars-bg-color);
}

.info-container ul {
    list-style-type: none;
    padding: 0;
}

.info-container ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.info-container ul li strong {
    color: #ffffff;
}

.info-container p {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.info-container .highlight {
    font-size: 30px;
    font-weight: bold;
    color: var(--f7-theme-color);
}

.info-container .number-box {
    border: 2px solid var(--f7-theme-color-tint);
    padding: 2.5px;
    margin: 2.5px;
    width: 25px;
    height: 25px;
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff3f3;
    font-size: 15px !important;
}

.info-container .text-box {
    /*padding: 2.5px;*/
    /*margin: 2.5px;*/
    /*width: 25px;*/
    /*height: 25px;*/
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    font-size: 15px !important;
}

.info-container .number-box-bk {
    border: 2px solid var(--f7-theme-color-tint);
    padding: 5px;
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff3f3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: auto;
    width: 98%;
}

.grid-item {
    /*background-color: #ddd;*/
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10%;
    text-align: center;
    background-color: var(--f7-bars-bg-color);
    color: white;
}

.grid-item p {
    font-size: 15px;
}

.avatar-default {
    /*line-height:100px;*/
    height: auto;
    width: 100px;
}

.avatar-200 {
    height: 200px;
    width: 200px;
}

.avatar-300 {
    height: 300px;
    width: 300px;
}