.inscription-section-actions {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.inscription-section-child-icons {
    width: 50%;
    font-size: 60px;
    text-align: center;
    border: 1px solid #000; /* Añade un borde */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Añade la sombra */
}

.inscription-image-preview {
    width: 100%;
    /*margin-bottom: 50px;*/
}

.inscription-image-preview-container {
    position: relative;
}

#inscription-view-preview-action {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
}

.button-x {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: black;
    color: white !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
}

@keyframes skeleton-loading-image {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.skeleton-effect-image {
    animation: skeleton-loading-image 1s infinite;
}