<template>
  <div class="page page-home" data-name="panel-university">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="button button-fill color-white button-44 panel-open" data-panel="left">
            <i class="bi bi-list"></i>
          </a>
        </div>
        <div class="title">
          Universidades
        </div>
        <div class="right">
          <a href="/profile/" class="button button-fill color-white button-44">
            <i class="bi bi-person-circle"></i>
            <span class="count-indicator"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="page-content container-crud">
      <div class="header-fixed">
        <h4>Lista de Universidades</h4>
        <button class="floating-button">+</button>
      </div>
      <div id="containerGCUniversity" class="content-scrollable"></div>
    </div>

      <footer class="footer" id="generate-navbar">
    </footer>
      <div id="generate-cQR" class="popup popup-menu elevation-2 popup-swipe-to-close"></div>

    <!-- Footer ends-->



  </div>
</template>